<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->


  <script src="/mathscribe/jquery-1.4.3.min.js"></script>
  <script src="/mathscribe/jscurry-0.4.5.min.js"></script>
  <script src="/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/mathscribe/jqmath-0.4.3.css"/>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ],
            throwOnError: false
        });
    });
</script>
